<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Atividade-com-Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Currículo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sobremim">
                Sobre
            </NavLink>
        </div>
    </nav>
</div>

