@page "/sobremim"
@rendermode InteractiveServer

<PageTitle>Sobre mim</PageTitle>

<h1 style="color: blue; font-family: 'Courier New', Courier, monospace;">Sobre mim</h1>

Sou Dhuliana Paula

<div style="display: flex; gap: 50px;">
    <div>
        <div><span style="font-size: 28px; color: blue;">·</span> Estudante do 3°A Informática 2025</div>

        <div><span style="font-size: 28px; color: blue;">·</span> Lê desde criança</div>

        <div><span style="font-size: 28px; color: blue;">·</span> Desenha desde criança</div>
    </div>

    <div>
        <div><span style="font-size: 28px; color: blue;">·</span> Mora na frente do IFRO</div>

        <div><span style="font-size: 28px; color: blue;">·</span> Ama cubo mágico</div>

        <div><span style="font-size: 28px; color: blue;">·</span> Jogo Assassin's Creed</div>

        <div><span style="font-size: 28px; color: blue;">·</span> Atleta do IFRO </div>
    </div>
</div>
